In [1]:
# Dependencies and Setup
import pandas as pd

In [45]:
# Create the list of years/months that match individual dataset names
import_files = []

for x in range(2019,2021):
    for y in range(1,13):
        if (len(str(y)) == 1):
            month = '0' + str(y)
            import_files.append("../Resources/" + str(x) + month + "-citibike-tripdata.csv")
            import_files.append("../Resources/JC-" + str(x) + month + "-citibike-tripdata.csv")
        else:
            month = str(y)
            import_files.append("../Resources/" + str(x) + month + "-citibike-tripdata.csv")
            import_files.append("../Resources/JC-" + str(x) + month + "-citibike-tripdata.csv")
            
# Data format changes beginning Feb'21, so also append Jan'22 in old format
import_files.append("../Resources/202101-citibike-tripdata.csv")
import_files.append("../Resources/JC-202101-citibike-tripdata.csv")

['Resources/201901-citibike-tripdata.csv',
 'Resources/JC-201901-citibike-tripdata.csv',
 'Resources/201902-citibike-tripdata.csv',
 'Resources/JC-201902-citibike-tripdata.csv',
 'Resources/201903-citibike-tripdata.csv',
 'Resources/JC-201903-citibike-tripdata.csv',
 'Resources/201904-citibike-tripdata.csv',
 'Resources/JC-201904-citibike-tripdata.csv',
 'Resources/201905-citibike-tripdata.csv',
 'Resources/JC-201905-citibike-tripdata.csv',
 'Resources/201906-citibike-tripdata.csv',
 'Resources/JC-201906-citibike-tripdata.csv',
 'Resources/201907-citibike-tripdata.csv',
 'Resources/JC-201907-citibike-tripdata.csv',
 'Resources/201908-citibike-tripdata.csv',
 'Resources/JC-201908-citibike-tripdata.csv',
 'Resources/201909-citibike-tripdata.csv',
 'Resources/JC-201909-citibike-tripdata.csv',
 'Resources/201910-citibike-tripdata.csv',
 'Resources/JC-201910-citibike-tripdata.csv',
 'Resources/201911-citibike-tripdata.csv',
 'Resources/JC-201911-citibike-tripdata.csv',
 'Resources/201912-citibike-tripdata.csv',
 'Resources/JC-201912-citibike-tripdata.csv',
 'Resources/202001-citibike-tripdata.csv',
 'Resources/JC-202001-citibike-tripdata.csv',
 'Resources/202002-citibike-tripdata.csv',
 'Resources/JC-202002-citibike-tripdata.csv',
 'Resources/202003-citibike-tripdata.csv',
 'Resources/JC-202003-citibike-tripdata.csv',
 'Resources/202004-citibike-tripdata.csv',
 'Resources/JC-202004-citibike-tripdata.csv',
 'Resources/202005-citibike-tripdata.csv',
 'Resources/JC-202005-citibike-tripdata.csv',
 'Resources/202006-citibike-tripdata.csv',
 'Resources/JC-202006-citibike-tripdata.csv',
 'Resources/202007-citibike-tripdata.csv',
 'Resources/JC-202007-citibike-tripdata.csv',
 'Resources/202008-citibike-tripdata.csv',
 'Resources/JC-202008-citibike-tripdata.csv',
 'Resources/202009-citibike-tripdata.csv',
 'Resources/JC-202009-citibike-tripdata.csv',
 'Resources/202010-citibike-tripdata.csv',
 'Resources/JC-202010-citibike-tripdata.csv',
 'Resources/202011-citibike-tripdata.csv',
 'Resources/JC-202011-citibike-tripdata.csv',
 'Resources/202012-citibike-tripdata.csv',
 'Resources/JC-202012-citibike-tripdata.csv',
 'Resources/202101-citibike-tripdata.csv',
 'Resources/JC-202101-citibike-tripdata.csv']

In [3]:
# Loop through NY 2019-2021 CSV files and combine
# (Note: Downloaded files saved outside GitHub respository due to memory restrictions)
df_list = (pd.read_csv(file) for file in import_files)

# Concatenate all DataFrames
df = pd.concat(df_list, ignore_index=True)

In [31]:
len(df)

41907273

In [4]:
df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
41907268,2476,2021-01-31 20:16:05.4700,2021-01-31 20:57:22.0110,3187.0,Warren St,40.721124,-74.038051,3483.0,Montgomery St,40.719420,-74.050990,44852,Subscriber,1958,1
41907269,147,2021-01-31 21:05:05.2090,2021-01-31 21:07:32.8660,3186.0,Grove St PATH,40.719586,-74.043117,3187.0,Warren St,40.721124,-74.038051,46538,Subscriber,1972,1
41907270,660,2021-01-31 21:06:23.5880,2021-01-31 21:17:23.8420,3211.0,Newark Ave,40.721525,-74.046305,3276.0,Marin Light Rail,40.714584,-74.042817,44398,Subscriber,1987,2
41907271,384,2021-01-31 21:16:37.8220,2021-01-31 21:23:02.1240,3205.0,JC Medical Center,40.716540,-74.049638,3268.0,Lafayette Park,40.713464,-74.062859,41400,Subscriber,1989,1
41907272,356,2021-01-31 23:24:50.8810,2021-01-31 23:30:47.3030,3639.0,Harborside,40.719252,-74.034234,3186.0,Grove St PATH,40.719586,-74.043117,43766,Subscriber,1994,1

In [18]:
# df['usertype'].unique()

array(['Subscriber', 'Customer'], dtype=object)

In [26]:
df['usertype'] = df['usertype'].replace(to_replace='Subscriber', value='member')
df['usertype'] = df['usertype'].replace(to_replace='Customer', value='casual')

In [ ]:
# df.replace(to_replace ="Boston Celtics",
#                  value ="Omega Warrior")

In [5]:
# Create the list of years/months that match individual dataset names
import_files_2021 = []

for x in range(2021,2022):
    for y in range(2,13):
        if (len(str(y)) == 1):
            month = '0' + str(y)
            import_files_2021.append("../Resources/" + str(x) + month + "-citibike-tripdata.csv")
            import_files_2021.append("../Resources/JC-" + str(x) + month + "-citibike-tripdata.csv")
        else:
            month = str(y)
            import_files_2021.append("../Resources/" + str(x) + month + "-citibike-tripdata.csv")
            import_files_2021.append("../Resources/JC-" + str(x) + month + "-citibike-tripdata.csv")

In [6]:
# Loop through NY 2019-2021 CSV files and combine
# (Note: Downloaded files saved outside GitHub respository due to memory restrictions)
df_list_2021 = (pd.read_csv(file) for file in import_files_2021)

# Concatenate all DataFrames
df_2021 = pd.concat(df_list_2021, ignore_index=True)
df_2021

/Users/coreylawson-enos/opt/anaconda3/envs/PythonData38/lib/python3.8/site-packages/pandas/core/reshape/concat.py:348: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  objs = list(objs)
/Users/coreylawson-enos/opt/anaconda3/envs/PythonData38/lib/python3.8/site-packages/pandas/core/reshape/concat.py:348: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  objs = list(objs)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,BBA33D73DECE976F,docked_bike,2021-02-26 16:38:54,2021-02-26 16:44:37,E 84 St & Park Ave,7243.04,E 78 St & 2 Ave,7057.07,40.778626,-73.957720,40.772797,-73.955778,casual
1,B63D7AFF9AC5B6D4,docked_bike,2021-02-17 11:09:11,2021-02-17 11:26:47,Macon St & Nostrand Ave,4214.03,Bond St & Fulton St,4479.06,40.680983,-73.950047,40.689622,-73.983043,member
2,52B829195C469D99,docked_bike,2021-02-26 18:33:29,2021-02-26 19:05:41,Macon St & Nostrand Ave,4214.03,Lefferts Pl & Franklin Ave,4222.02,40.680983,-73.950047,40.680342,-73.955769,casual
3,19C84ECA2B468476,docked_bike,2021-02-26 12:48:35,2021-02-26 13:07:24,Macon St & Nostrand Ave,4214.03,Bond St & Fulton St,4479.06,40.680983,-73.950047,40.689622,-73.983043,member
4,C0DDB771E70D9DF5,docked_bike,2021-02-25 17:23:22,2021-02-25 17:28:20,Madison Ave & E 26 St,6131.12,W 37 St & 5 Ave,6398.06,40.742685,-73.986713,40.750380,-73.983390,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
27198919,13FE513C650901A3,classic_bike,2021-12-16 17:17:46,2021-12-16 17:22:53,Grove St PATH,JC005,Hamilton Park,JC009,40.719586,-74.043117,40.727596,-74.044247,member
27198920,CA29051F38E67D30,classic_bike,2021-12-07 17:10:29,2021-12-07 17:15:02,Grove St PATH,JC005,Hamilton Park,JC009,40.719586,-74.043117,40.727596,-74.044247,member
27198921,A719DEA143005404,classic_bike,2021-12-18 09:50:14,2021-12-18 09:55:55,Grove St PATH,JC005,Hamilton Park,JC009,40.719586,-74.043117,40.727596,-74.044247,member
27198922,D39126975208B59D,classic_bike,2021-12-10 21:43:32,2021-12-10 21:49:04,Grove St PATH,JC005,Hamilton Park,JC009,40.719586,-74.043117,40.727596,-74.044247,member
27198923,1BB5CF43B5DF7E05,classic_bike,2021-12-08 11:09:56,2021-12-08 11:14:58,Hilltop,JC019,Hamilton Park,JC009,40.731169,-74.057574,40.727596,-74.044247,member

In [7]:
df_2021.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,BBA33D73DECE976F,docked_bike,2021-02-26 16:38:54,2021-02-26 16:44:37,E 84 St & Park Ave,7243.04,E 78 St & 2 Ave,7057.07,40.778626,-73.957720,40.772797,-73.955778,casual
1,B63D7AFF9AC5B6D4,docked_bike,2021-02-17 11:09:11,2021-02-17 11:26:47,Macon St & Nostrand Ave,4214.03,Bond St & Fulton St,4479.06,40.680983,-73.950047,40.689622,-73.983043,member
2,52B829195C469D99,docked_bike,2021-02-26 18:33:29,2021-02-26 19:05:41,Macon St & Nostrand Ave,4214.03,Lefferts Pl & Franklin Ave,4222.02,40.680983,-73.950047,40.680342,-73.955769,casual
3,19C84ECA2B468476,docked_bike,2021-02-26 12:48:35,2021-02-26 13:07:24,Macon St & Nostrand Ave,4214.03,Bond St & Fulton St,4479.06,40.680983,-73.950047,40.689622,-73.983043,member
4,C0DDB771E70D9DF5,docked_bike,2021-02-25 17:23:22,2021-02-25 17:28:20,Madison Ave & E 26 St,6131.12,W 37 St & 5 Ave,6398.06,40.742685,-73.986713,40.750380,-73.983390,member

In [15]:
df_2021['started_at'] = pd.to_datetime(df_2021['started_at'])
df_2021['ended_at'] = pd.to_datetime(df_2021['ended_at'])

In [29]:
df_2021_clean = pd.DataFrame({
    'tripduration': (df_2021['ended_at'][0] - df_2021['started_at'][0]).total_seconds(),
    'starttime': df_2021['started_at'],
    'stoptime': df_2021['ended_at'],
    'start station id': df_2021['start_station_id'],
    'start station name': df_2021['start_station_name'],
    'start station latitude': df_2021['start_lat'],
    'start station longitude': df_2021['start_lng'],
    'end station id': df_2021['end_station_id'],
    'end station name': df_2021['end_station_name'],
    'end station latitude': df_2021['end_lat'],
    'end station longitude': df_2021['end_lng'],
    'bikeid': 'N/A',
    'usertype': df_2021['member_casual'],
    'birth year': 'N/A',
    'gender': 'N/A'
    })

In [30]:
df_2021_clean

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,343.0,2021-02-26 16:38:54,2021-02-26 16:44:37,7243.04,E 84 St & Park Ave,40.778626,-73.957720,7057.07,E 78 St & 2 Ave,40.772797,-73.955778,N/A,casual,N/A,N/A
1,343.0,2021-02-17 11:09:11,2021-02-17 11:26:47,4214.03,Macon St & Nostrand Ave,40.680983,-73.950047,4479.06,Bond St & Fulton St,40.689622,-73.983043,N/A,member,N/A,N/A
2,343.0,2021-02-26 18:33:29,2021-02-26 19:05:41,4214.03,Macon St & Nostrand Ave,40.680983,-73.950047,4222.02,Lefferts Pl & Franklin Ave,40.680342,-73.955769,N/A,casual,N/A,N/A
3,343.0,2021-02-26 12:48:35,2021-02-26 13:07:24,4214.03,Macon St & Nostrand Ave,40.680983,-73.950047,4479.06,Bond St & Fulton St,40.689622,-73.983043,N/A,member,N/A,N/A
4,343.0,2021-02-25 17:23:22,2021-02-25 17:28:20,6131.12,Madison Ave & E 26 St,40.742685,-73.986713,6398.06,W 37 St & 5 Ave,40.750380,-73.983390,N/A,member,N/A,N/A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27198919,343.0,2021-12-16 17:17:46,2021-12-16 17:22:53,JC005,Grove St PATH,40.719586,-74.043117,JC009,Hamilton Park,40.727596,-74.044247,N/A,member,N/A,N/A
27198920,343.0,2021-12-07 17:10:29,2021-12-07 17:15:02,JC005,Grove St PATH,40.719586,-74.043117,JC009,Hamilton Park,40.727596,-74.044247,N/A,member,N/A,N/A
27198921,343.0,2021-12-18 09:50:14,2021-12-18 09:55:55,JC005,Grove St PATH,40.719586,-74.043117,JC009,Hamilton Park,40.727596,-74.044247,N/A,member,N/A,N/A
27198922,343.0,2021-12-10 21:43:32,2021-12-10 21:49:04,JC005,Grove St PATH,40.719586,-74.043117,JC009,Hamilton Park,40.727596,-74.044247,N/A,member,N/A,N/A
27198923,343.0,2021-12-08 11:09:56,2021-12-08 11:14:58,JC019,Hilltop,40.731169,-74.057574,JC009,Hamilton Park,40.727596,-74.044247,N/A,member,N/A,N/A

In [37]:
df = df.append(df_2021_clean, ignore_index = True)
len(df)

69106197

In [38]:
df.dtypes

tripduration               float64
starttime                   object
stoptime                    object
start station id            object
start station name          object
start station latitude     float64
start station longitude    float64
end station id              object
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                      object
usertype                    object
birth year                  object
gender                      object
dtype: object

In [39]:
df['starttime'] = pd.to_datetime(df['starttime'])
df['stoptime'] = pd.to_datetime(df['stoptime'])
df['year_month'] = pd.to_datetime(df['starttime']).dt.to_period('M')

In [43]:
df.tail()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,year_month
69106192,343.0,2021-12-16 17:17:46,2021-12-16 17:22:53,JC005,Grove St PATH,40.719586,-74.043117,JC009,Hamilton Park,40.727596,-74.044247,N/A,member,N/A,N/A,2021-12
69106193,343.0,2021-12-07 17:10:29,2021-12-07 17:15:02,JC005,Grove St PATH,40.719586,-74.043117,JC009,Hamilton Park,40.727596,-74.044247,N/A,member,N/A,N/A,2021-12
69106194,343.0,2021-12-18 09:50:14,2021-12-18 09:55:55,JC005,Grove St PATH,40.719586,-74.043117,JC009,Hamilton Park,40.727596,-74.044247,N/A,member,N/A,N/A,2021-12
69106195,343.0,2021-12-10 21:43:32,2021-12-10 21:49:04,JC005,Grove St PATH,40.719586,-74.043117,JC009,Hamilton Park,40.727596,-74.044247,N/A,member,N/A,N/A,2021-12
69106196,343.0,2021-12-08 11:09:56,2021-12-08 11:14:58,JC019,Hilltop,40.731169,-74.057574,JC009,Hamilton Park,40.727596,-74.044247,N/A,member,N/A,N/A,2021-12

'W 89 St & Columbus Ave'

In [36]:
df_2021_clean.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,343.0,2021-02-26 16:38:54,2021-02-26 16:44:37,7243.04,E 84 St & Park Ave,40.778626,-73.957720,7057.07,E 78 St & 2 Ave,40.772797,-73.955778,N/A,casual,N/A,N/A
1,343.0,2021-02-17 11:09:11,2021-02-17 11:26:47,4214.03,Macon St & Nostrand Ave,40.680983,-73.950047,4479.06,Bond St & Fulton St,40.689622,-73.983043,N/A,member,N/A,N/A
2,343.0,2021-02-26 18:33:29,2021-02-26 19:05:41,4214.03,Macon St & Nostrand Ave,40.680983,-73.950047,4222.02,Lefferts Pl & Franklin Ave,40.680342,-73.955769,N/A,casual,N/A,N/A
3,343.0,2021-02-26 12:48:35,2021-02-26 13:07:24,4214.03,Macon St & Nostrand Ave,40.680983,-73.950047,4479.06,Bond St & Fulton St,40.689622,-73.983043,N/A,member,N/A,N/A
4,343.0,2021-02-25 17:23:22,2021-02-25 17:28:20,6131.12,Madison Ave & E 26 St,40.742685,-73.986713,6398.06,W 37 St & 5 Ave,40.750380,-73.983390,N/A,member,N/A,N/A

In [ ]:
len(df)

In [ ]:
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data)

In [ ]:
# for file in glob.glob("../Resources/*.csv"):
#     f = zipfile.ZipFile(zip_file)
#     dfs = [pd.read_csv(zf.open(f), header=None, sep=";", encoding = 'unicode_escape') for f in zf.namelist()]
#     df = pd.concat(dfs,ignore_index=True)
#     print(df)
    
# path = "../Resources" # use your path
# all_files = glob.glob("../Resources/*.csv")

# li = []

# for filename in all_files:
#     df = pd.read_csv(filename, index_col=None, header=0)
#     li.append(df)

# frame = pd.concat(li, axis=0, ignore_index=True)

In [ ]:
# Extract date and time fields for study
frame['starttime'] = pd.to_datetime(frame['starttime'])
frame['stoptime'] = pd.to_datetime(frame['stoptime'])
frame['year_month'] = pd.to_datetime(frame['starttime']).dt.to_period('M')
frame['duration_min'] = (frame['stoptime'] - frame['starttime']).dt.total_seconds() / 60
# frame['start_hour'] = frame['starttime'].hour

frame.sort_values('starttime')
frame.tail()

In [ ]:

# df = pd.concat(
#     map([pd.read_csv(name) for name in import_files], [import_files]), ignore_index=True)

# Create empty DataFrame for appending data
# df = pd.DataFrame()

# dataframe = pd.concat([pd.read_csv(name, compression='zip') for name in import_files])
# 

# for month in year_month:
#     import_file = "../Resources/" + month + "-citibike-tripdata.csv"
#     print(import_file)